
body > h1 {
    height: 200px;
    background-color: rgb(75, 75, 75);
    position: relative;
    width: 100%;
}
.left-side {
    background-color:#d3d3d3;
    width: 15%;
    height: 600px;
    position: relative;

}

 .right-side {
    background-color:#d3d3d3;
    position: absolute;
    right: 10px;
    width: 15%;
    height: 600px;
    top: 242px;



}
/* .middle {
background-color: rgb(171, 192, 79);
border:black dotted 3px; */


footer {
    background-color: black;
    height: 100px;
    align-items: center;
    border: black 5px;
}
